# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
.venv/
env/
venv/
ENV/

# Testing & CDK
.pytest_cache/
cdk.out/
.cdk.staging/
